QSlider::groove:horizontal {
          height: 3px;
		  background-color:rgb(162,167,170);
          border-radius:1px;
 }
QSlider::handle:horizontal {
		width:16px;
		margin-top:-8px;
		margin-bottom:-8px;
		image:url(Icon/bar.png);
 }
QSlider::sub-page:horizontal{
		background-color:qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 rgb(30,222,184), stop:1 rgb(22,158,131));	
}

QCheckBox{
font:14px;
}